[submodule "submodules/lukso-chain-spec"]
	path = submodules/lukso-chain-spec
	url = https://github.com/lukso-network/lukso-chain-spec
	branch = sokol
[submodule "submodules/lukso-scripts-moc"]
	path = submodules/lukso-scripts-moc
	url = https://github.com/lukso-network/lukso-scripts-moc
	branch = sokol
[submodule "submodules/poa-dapps-validators"]
	path = submodules/poa-dapps-validators
	url = https://github.com/poanetwork/poa-dapps-validators
	branch = core
[submodule "submodules/poa-dapps-keys-generation"]
	path = submodules/poa-dapps-keys-generation
	url = https://github.com/poanetwork/poa-dapps-keys-generation
	branch = core
[submodule "submodules/solidity-flattener"]
	path = submodules/solidity-flattener
	url = https://github.com/poanetwork/solidity-flattener
	branch = master
[submodule "submodules/poa-dapps-voting"]
	path = submodules/poa-dapps-voting
	url = https://github.com/poanetwork/poa-dapps-voting
	branch = core
[submodule "submodules/poa-network-consensus-contracts"]
	path = submodules/poa-network-consensus-contracts
	url = https://github.com/poanetwork/poa-network-consensus-contracts
	branch = master
